* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

/*          Header Style (Nav)        */

nav {
  height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 150px;
}

nav p {
  font-size: 28px;
  font-weight: bolder;
}

nav button {
  width: 244px;
  height: 58px;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

/*          Header Style (Hero)        */

.hero_section {
  width: 100%;
  height: 652px;
  margin-bottom: 98px;
  background-image: url(assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.hero_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.hero_text h2 {
  width: 998px;
  font-size: 48px;
  color: #0d1321;
  text-align: center;
}
.hero_text p {
  width: 852px;
  font-size: 16px;
  color: #0d1321;
  text-align: center;
}
.hero_text button {
  width: 244px;
  height: 65px;
  font-size: 20px;
  background-color: #0d1321;
  color: #fff;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
}

/*          whyWD section Style       */

.whyWD_section {
  width: 1520px;
  height: 1860px;
  background-color: rgba(13, 19, 33, 2%);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.whyWD_header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.whyWD_header h2 {
  font-size: 42px;
  margin-bottom: 32px;
}
.whyWD_header p {
  width: 1135px;
  font-size: 22px;
  text-align: center;
}

.whyWD_box1,
.whyWD_box2,
.whyWD_box3 {
  width: 1260px;
  height: 446px;
  padding: 64px;
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}
.whyWD_box1 h5,
.whyWD_box2 h5,
.whyWD_box3 h5 {
  width: 634px;
  font-size: 32px;
  font-weight: bold;
  color: rgba(13, 19, 33, 70%);
}
.whyWD_box1 p,
.whyWD_box2 p,
.whyWD_box3 p {
  width: 625px;
  font-size: 22px;
}
.whyWD_box1 button,
.whyWD_box2 button,
.whyWD_box3 button {
  width: 228px;
  height: 62px;
  font-size: 26px;
  margin-top: 22px;
  color: #0d1321;
  cursor: pointer;
}
.whyWD_box1 div,
.whyWD_box2 div,
.whyWD_box3 div {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.whyWD_box1 img,
.whyWD_box2 img,
.whyWD_box3 img {
  width: 365px;
  height: 320px;
}

/*      My Inspiration Section    */

.mi_section {
  width: 1520px;
  height: 1030px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.mi_section div {
  width: 1132px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.mi_section h2 {
  font-size: 42px;
  font-weight: bold;
}
.mi_section p {
  font-size: 22px;
  text-align: center;
}
.mi_section iframe {
  margin: 42px;
  border-radius: 22px;
}

/*      My Current Target Section    */

.myCT_section {
  width: 1520px;
  height: 612px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.myCT_header {
  width: 1132px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.myCT_header h2 {
  font-size: 42px;
}
.myCT_header p {
  font-size: 22px;
  text-align: center;
}

.myCT_boxes {
  display: flex;
  gap: 50px;
}
.myCT_html img,
.myCT_css img,
.myCT_js img {
  width: 74px;
  height: 74px;
}
.myCT_html h3,
.myCT_css h3,
.myCT_js h3 {
  font-size: 32px;
  color: #0d1321;
  margin: 32px 0 12px 0;
}
.myCT_html p,
.myCT_css p,
.myCT_js p {
  width: 378px;
  font-size: 22px;
  color: #0d1321;
  margin-bottom: 32px;
}
.myCT_html a,
.myCT_css a,
.myCT_js a {
  font-size: 22px;
  font-weight: bold;
  color: #0d1321;
}
.myCT_html,
.myCT_css,
.myCT_js {
  width: 484px;
  height: 398px;
  padding: 52px;
  border-radius: 22px;
}
.myCT_html {
  background-color: rgba(255, 76, 30, 5%);
}
.myCT_css {
  background-color: rgba(0, 76, 232, 5%);
}
.myCT_js {
  background-color: rgba(255, 223, 0, 5%);
}

/*         My Next Target Section      */

.myNT_section {
  width: 1520px;
  height: 1152px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.myNT_header {
  width: 1132px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.myNT_header h2 {
  font-size: 42px;
}
.myNT_header p {
  font-size: 22px;
  text-align: center;
}

.myNT_boxes {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.myNT_react img {
  width: 126px;
  height: 112px;
  margin-right: 124px;
}
.myNT_node img {
  width: 190px;
  height: 142px;
  margin-right: 60px;
}
.myNT_mongo img {
  width: 142px;
  height: 118px;
  margin-right: 108px;
}

.myNT_react img,
.myNT_node img,
.myNT_mongo img {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 25px;
}

.myNT_react h3,
.myNT_node h3,
.myNT_mongo h3 {
  font-size: 32px;
  color: #0d1321;
  margin-bottom: 12px;
}
.myNT_react p,
.myNT_node p,
.myNT_mongo p {
  width: 1150px;
  font-size: 22px;
  color: #0d1321;
  margin-bottom: 32px;
  line-height: 36px;
}
.myNT_react a,
.myNT_node a,
.myNT_mongo a {
  font-size: 22px;
  font-weight: bold;
  color: #0d1321;
}
.myNT_react,
.myNT_node,
.myNT_mongo {
  width: 1520px;
  height: 290px;
  padding: 52px;
  border: 1px solid rgba(13, 19, 33, 15%);
  border-radius: 22px;
  display: flex;
}

/*           Support Section        */

.support_section {
  width: 1520px;
  height: 416px;
  margin: 0 auto;
  border-radius: 22px;
  padding: 86px 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url(assets/handshake.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.support_section h2 {
  font-size: 42px;
  color: #fff;
  text-align: center;
  margin-bottom: 22px;
}
.support_section p {
  font-size: 22px;
  color: #fff;
  text-align: center;
}

#text {
  width: 730px;
  height: 74px;
  border-radius: 12px;
  /* border-color: rgba(13, 19, 33, 15%); */
  border: none;
  outline: none;
  padding-left: 20px;
  font-size: 24px;
}

#text::placeholder {
  font-size: 22px;
  color: rgba(13, 19, 33, 40%);
}

#submit {
  width: 160px;
  height: 74px;
}
input[type="submit"] {
  background-color: #fff;
  color: #0d1321;
  font-size: 26px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/*           Footer style        */

footer {
  width: 100%;
  height: 134px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 200px;
  background-color: rgba(13, 19, 33, 3%);
}

footer p {
  font-size: 26px;
  font-weight: bold;
}

footer div {
  width: 210px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer img {
  width: 48px;
  height: 48px;
}
